**************************************************

Today this system is going down at 3PM for maintenance.
For any assistance you can reach to devops@polyglotit.com

IP address : {{ansible_default_ipv4.address}}

OS : {{ansible_distribution}}

Version: {{ansible_distribution_major_version}}

*************************************************
